.a-unstyled,
.a-unstyled:link,
.a-unstyled:visited,
.a-unstyled:hover,
.a-unstyled:active {
    color: #000000; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}

.hover-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 300%;
}

