<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr >
        <th>{{assignmenttype | capitalize}}</th>
        <th>Topic</th>
        <th>Due</th>
    </tr>
    <tr ng-repeat="ass in assignments">
        <td>
            <p class="text-center">
                {{ass.number}}
            </p>
        </td>
        <td>
            <p class="text-center">
                <a href="{{assignmenttype}}/{{ass.url}}">{{ass.name}}</a>
            </p>
        </td>
        <td><p class="text-center">

            {{getSessionDate(ass.session)}}
        </p></td>
        <!--<td>-->
            <!--<p>-->

            <!--</p>-->
        <!--</td>-->
    </tr>
    </thead>
</table>